<a href="https://colab.research.google.com/github/pulpor/ebac/blob/main/Exerc%C3%ADcio_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. prepando ambiente

Vamos explorar dados de crédito presentes no arquivo `credito.xlsx` ([link](https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/develop/dataset/credito.xlsx)). Os dados estão no formato de **Excel** (XLSX) e contém informações sobre clientes de uma instituição financeira. Em especial, estamos interessados em explicar a segunda coluna, chamada de **default**, que indica se um cliente é adimplente (`default = 0`), ou inadimplente (`default = 1`), ou seja, queremos entender o porque um cliente deixa de honrar com suas dívidas baseado no comportamento de outros atributos, como salário, escolaridade e movimentação financeira. Uma descrição completa dos atributos está abaixo.

In [2]:
!wget --show-progress --continue -O ./credito.xlsx https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/credito.xlsx

--2022-12-30 13:49:15--  https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/credito.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 748185 (731K) [application/octet-stream]
Saving to: ‘./credito.xlsx’

./credito.xlsx      100%[===================>] 730.65K  --.-KB/s    in 0.05s

2022-12-30 13:49:15 (15.1 MB/s) - ‘./credito.xlsx’ saved [748185/748185]

# 1. excel p csv

Utilizando o pacote Python `openpyxl` visto em aula, extraia os seguintes as colunas `id`, `sexo` e `idade` para dos clientes inadimplentes (`default = 1`) e solteiros (`estado_civil = 'solteiro'`). Salves os dados extraídos no arquivo csv `credito.csv` separado por `;`. Exemplo do cabeçalho e das três primeiras linhas:

```
id;sexo;idade
767712558;59;M
713741358;46;M
772390908;59;M
```

**Dica:** O arquivo csv `credito.csv` deve ter 669 linhas, contando com o cabeçalho.

**Nota:** Escreva o código da sua solução abaixo em uma ou mais células, você não precisa enviar o arquivo csv gerado.

In [3]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)

In [14]:
import openpyxl 
import csv
import pandas as panda

planilhas = openpyxl.load_workbook("credito.xlsx")
planilha = planilhas.active

coluna = csv.writer(open("credito.csv", 'w', newline="")) #write

for linha in planilha.rows:
  coluna.writerow([cell.value for cell in linha])

default = panda.DataFrame(panda.read_csv("credito.csv")) 

d_filtrado = default.loc[default['default']==1][default['estado_civil']=='solteiro'] #filtro
d_selecao = d_filtrado[['id', 'sexo', 'idade']] #conteudo
d_selecao.reset_index(drop=True)

<ipython-input-14-8f3958de3e44>:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d_filtrado = default.loc[default['default']==1][default['estado_civil']=='solteiro'] #filtro

            id sexo  idade
0    767712558    M     59
1    713741358    M     46
2    772390908    M     59
3    719211558    M     45
4    709547658    M     39
..         ...  ...    ...
663  710066133    M     30
664  713281833    M     37
665  716644008    M     55
666  713924283    M     61
667  716893683    F     55

[668 rows x 3 columns]

# excel p json

In [15]:
import json

credito_json = json.dumps(credito, indent=4)
print(credito_json)

{
    "tipo_cartao": [
        "silver",
        "blue",
        "gold",
        "platinum"
    ],
    "escolaridade": [
        "doutorado",
        "mestrado",
        "na",
        "sem educacao formal",
        "graduacao",
        "ensino medio"
    ]
}

In [18]:
df_credito = default[['tipo_cartao', 'escolaridade']]
tipo_cartao = list(set(df_credito['tipo_cartao']))
escolaridade = list(set(df_credito['escolaridade']))
credito = {'escolaridade':  escolaridade, 'tipo_cartao': tipo_cartao}
     
import json
credito_json = json.dumps(credito, indent=4)
print(credito_json)

{
    "escolaridade": [
        "na",
        "sem educacao formal",
        "doutorado",
        "ensino medio",
        "mestrado",
        "graduacao"
    ],
    "tipo_cartao": [
        "blue",
        "gold",
        "silver",
        "platinum"
    ]
}

# 3 textos para csv

In [19]:
%%writefile ebac.txt
MÍDIAS SOCIAIS
Instagram, Facebook, Youtube, LinkedIn 

CURSOS
Software, Design, Marketing, Audiovisual, Programação & Data, Games

WEBINARS
Próximos, Anteriores

SOBRE
Sobre nós, Centro de carreiras, Vagas

CONTATO
WhatsApp +55 (11) 4200-2991
Telefone +55 (11) 3030-3200

BLOG
Design, Audiovisual, Marketing

Writing ebac.txt

In [22]:
import re

with open(file='./ebac.txt', mode='r', encoding='utf8') as arquivo:
  
  linhas = arquivo.readlines()
  linhas = filter(lambda linha: linha != '\n', linhas)
  linhas = map(lambda linha: linha.lower().strip(), linhas)
  linhas = list(linhas)

linhas

['mídias sociais',
 'instagram, facebook, youtube, linkedin',
 'cursos',
 'software, design, marketing, audiovisual, programação & data, games',
 'webinars',
 'próximos, anteriores',
 'sobre',
 'sobre nós, centro de carreiras, vagas',
 'contato',
 'whatsapp +55 (11) 4200-2991',
 'telefone +55 (11) 3030-3200',
 'blog',
 'design, audiovisual, marketing']

In [23]:
linhas_contatos = filter(lambda linha: '+55' in linha, linhas)
linhas_contatos = list(linhas_contatos)

print(linhas_contatos)

['whatsapp +55 (11) 4200-2991', 'telefone +55 (11) 3030-3200']

In [24]:
linhas_tipos_numeros = []
for linha_tipo_numero in linhas_contatos:
  palavras = linha_tipo_numero.split(sep='+')
  tipo_numero = filter(lambda palavra: '[a-zA-Z0-9_]' in palavra, palavras)
  linhas_tipos_numeros = linhas_tipos_numeros + list(palavras)

linhas_tipos_numeros

['whatsapp ', '55 (11) 4200-2991', 'telefone ', '55 (11) 3030-3200']

In [25]:
tipo = filter(lambda tipo: '55' not in tipo, linhas_tipos_numeros)
tipos = list(tipo)

numero = filter(lambda numero: '55' in numero, linhas_tipos_numeros)
numeros = list(numero)

In [33]:
list_final = panda.DataFrame((zip(tipos, numeros)), columns = ['tipo', 'numero'])

In [27]:
fn = lambda valor: str(valor.replace(" ", "").replace("(", "").replace(")", "").replace("-", ""))

In [38]:
list_final['tipo'] = list_final['tipo'].apply(fn)
list_final['numero'] = list_final['numero'].apply(fn)

list_final

       tipo        numero
0  whatsapp  551142002991
1  telefone  551130303200

In [39]:
list_final.to_csv("./contato_ebac.csv", index=False, sep=';')